/*ESTILOS DEL FOOTER*/
footer {
    grid-area: footer;
    width: 100%;
    height: max-content;
    background-color: black;
    background-size: contain;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        padding: 15px;
        font-size: 3rem;
        color: white;
        border: 1px solid black;border-radius: 10px;
        background-image: url(./imagenes/fondo-naranja-textura-marmol-liquido-fondo-marmol_47435-407.jpg);
        background-size: contain;
    }
    h4 {
        font-size: 1rem;
        color: white;
        border-bottom: 2px double orangered;
        margin: 10px;
    }
}
