/*PAGINA PRODUCTOS - PRODUCTOS - PRODUCTOS - PRODUCTOS - PRODUCTOS*/
.titulo-productos {
    border: 2px double orangered;border-radius: 10px;
    background-image: url(../imagenes/fondo-naranja-textura-marmol-liquido-fondo-marmol_47435-407.jpg);
    width: max-content;
    padding: 10px;
    font-size: 4rem;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'Updock', cursive;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: auto;
    box-shadow: 4px 4px 10px 4px black;
    display: flex;
    flex-wrap: wrap;
}
.article {
    display: inline-block;
    margin: 25px;
}
.imagen-article {
    height: 230px;
    width: auto;
    :hover{
        -moz-transform: scale(1.1) rotate(16deg) translate(-1px, -11px) skew(6deg, -2deg);
        -webkit-transform: scale(1.1) rotate(16deg) translate(-1px, -11px) skew(6deg, -2deg);
        -o-transform: scale(1.1) rotate(16deg) translate(-1px, -11px) skew(6deg, -2deg);
        -ms-transform: scale(1.1) rotate(16deg) translate(-1px, -11px) skew(6deg, -2deg);
        transform: scale(1.1) rotate(16deg) translate(-1px, -11px) skew(6deg, -2deg);
        transition: 500ms;
        cursor: pointer;
    }
}
