
/*ESTILOS CONTAINER Y BODY*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../imagenes/fondobody.png.jpg);
}
body {
    min-height: 100vh;
    background-image: url(../imagenes/fondobody.png.jpg);
}