$colorPrincipal: orangered;
$colorLetra: #fff;
$colorSecundario: rgb(56, 32, 23);
$boton:(
        borde:1px,
        radio:5px,
        fondo:orangered,
        color:white,
        pesoFuente:800,
        margen:10px,
        padding:5px
        );

$paletaColores:(
    "primario": rgb(223, 91, 58),
    "secundario": #fff,
    "naranjaClaro": orange ,
    "grisOscuro": rgb(71, 71, 71) 
);