body {
    background-image: url(../imagenes/fondobody.png.jpg); 
}

@import "navbar";
@import "footer";
@import "banner";
@import "main";
@import "redes";
@import "articulo";
@import "formularios";
@import "producto";
@import "googlemaps";
@import "mediaquerys";
@import "boton";
@import "variables";

.btn{
    border: map-get($boton , borde );
    border-radius: map-get($boton , radio );
    background-color: map-get($boton , fondo);
    color: map-get($boton , color );
    font-weight: map-get($boton , pesoFuente );
    margin: map-get($boton , margen);
    padding: map-get($boton , padding);
    :hover {
        background-color: orangered;
        border-radius: 40%;
        background-size: contain;
    }
}

/*ANIMACION TRANSITION*/
.animate__animated.animate__rubberBand {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .animate__animated.animate__heartBeat {
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }